<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="SamshitNugetSource" value="https://nexus.panic.fail/repository/SamshitNuget/" />
    </packageSources>
    <packageSourceCredentials>
        <SamshitNugetSource>
            <add key="Username" value="gitlab" />
            <add key="ClearTextPassword" value="W6Yv4RVmF7kAMJPC" />
        </SamshitNugetSource>
    </packageSourceCredentials>
</configuration>